## API-GATEWAY
API_GATEWAY_SERVICE_NAME={API_GATEWAY_SERVICE_NAME}
GATEWAY_DISCOVERY_ENABLED=true
GATEWAY_LOADBALANCER_ENABLED=false
GATEWAY_ROUTE_1_ID={GATEWAY_ROUTE_1_ID}
GATEWAY_ROUTE_1_URI=lb://{GATEWAY_ROUTE_1_URI}
GATEWAY_ROUTE_1_PREDICATE=Path={GATEWAY_ROUTE_1_PREDICATE}
GATEWAY_ROUTE_2_ID={GATEWAY_ROUTE_2_ID}
GATEWAY_ROUTE_2_URI=lb://{GATEWAY_ROUTE_2_URI}
GATEWAY_ROUTE_2_PREDICATE=Path={GATEWAY_ROUTE_2_PREDICATE}


## CAR-SERVICE and BICYCLE-SERVICE
CAR_SERVICE_NAME={CAR_SERVICE_NAME}
BICYCLE_SERVICE_NAME={BICYCLE_SERVICE_NAME}

# RabbitMQ
RABBITMQ_HOST={rabbitmq-SERVICE-NAME}
RABBITMQ_PORT=5672
RABBITMQ_USER={rabbitmq-username}
RABBITMQ_PASSWORD={rabbitmq-password}

# Eureka
EUREKA_URL=http://{discovery-SERVICE-NAME}:8761/eureka
EUREKA_PREFER_IP_ADDRESS=true

# Cloud Config
CONFIG_URL=http://{config-SERVICE-NAME}:8888
CONFIG_FAIL_FAST=true
CONFIG_RETRY_MAX_ATTEMPTS=20
CONFIG_EXPOSURE_INCLUDE=*
CONFIG_PROFILE={config-profile-name}